@model List<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DarkAdminLayout.cshtml";
}



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yetenekler Tablosu </h4>          
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>BAŞLIK</th>
                            <th>ORAN</th>
                            <th>SİL</th>
                            <th>GÜNCELLE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var skill in Model)
                        {

                            <tr>
                                <th>
                                    @skill.SkillId
                                </th>
                                <td>
                                    @skill.Title
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">@skill.Value%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="@skill.Value" aria-valuemin="0" aria-valuemax="100" style="width: @skill.Value%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td> <a href="/Skill/DeleteSkill/@skill.SkillId" class="btn btn-danger"> SİL </a> </td>
                                <td> <a href="/Skill/UpdateSkill/@skill.SkillId" class="btn btn-primary"> GÜNCELLE </a> </td>
                            </tr>
                        }


                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

<a href="/Skill/AddSkill" class="btn btn-success ml-3"> YENİ YETENEK EKLE </a>