@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DarkAdminLayout.cshtml";
}




<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Deneyimler Tablosu</h4>
       
            <div class="table-responsive">
                <table class="table w-100">
                    <thead>
                        <tr>
                            <th style="width:5% !important;">#</th>
                            <th style="width:10% !important;">Deneyim Adı</th>
                            <th style="width:10% !important;">TARİH</th>
                            <th style="width:10% !important;">Resim</th>
                            <th style="width:auto !important;">Açıklama</th>
                            <th style="width:10% !important;">SİL</th>
                            <th style="width:10% !important;">GÜNCELLE</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var experience in Model)
                        {

                            <tr>
                                <th scope="row">
                                    @experience.ExperienceId
                                </th>
                                <th class="budget">
                                    @experience.Name
                                </th>
                                <td>
                                    @experience.Date
                                </td>
                                <td >
                                    @experience.ImageUrl
                                </td>
                                <td  style=" white-space:normal; ">
                                    @if (@experience.Description?.Length>50)
                                    {
                                        string value = String.Concat(@experience.Description.Substring(0, 50), "...");
                                        <span title="@experience.Description">@value</span>
                                    } else
                                    {
                                        @experience.Description;
                                    }

                                </td>
                                <td> <a href="/Experience/DeleteExperience/@experience.ExperienceId" class="btn btn-danger"> SİL </a> </td>
                                <td> <a href="/Experience/UpdateExperience/@experience.ExperienceId" class="btn btn-primary"> GÜNCELLE </a> </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<a href="/Experience/AddExperience" class="btn btn-success ml-3"> YENİ DENEYİM EKLE </a>

